<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="box">
        <div class="text">
            <h1>Counter</h1>
            <h3>{{ session['num'] }} {{ text }}</h3>
        </div>
        <div class="buttons">
            <a class="btnsub" href="/visits">Click</a>
            <a class="btn2" href="/visits2">+2 Visits</a>
            <a class="btnres" href="/destroy_session">Reset</a>
        </div>
    </div>
</body>
</html>